################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/**/.dll
/**/.vs
/**/packages
/**/bin
/**/obj

/CRM Solution Manager/CRM Solution/publish
