<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OrgServiceUrl" value="https://test.api.crm8.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="DynamicsUserName" value="test@test.onmicrosoft.com" />
    <add key="DynamicsPassword" value="******" />
    <add key="GitUserName" value="testuser" />
    <add key="GitPassword" value="******" />
    <add key="RepositoryLocalDirectory" value="Solution" />
    <add key="RepositoryImagesDirectory" value="source\images\" />
    <add key="RepositoryJsDirectory" value="source\js\" />
    <add key="RepositoryHtmlDirectory" value="source\html\" />
    <add key="RepositorySolutionFolder" value="Test\Release\" />
    <add key="RepositoryUrl" value="https://github.com/testRepo.git" />
    <add key="BranchName" value="master" />
    <add key="RemoteName" value="origin" />
    <add key="SolutionPackagerPath" value="E:\tools\Tools\CoreTools\solutionpackager.exe"/>
    <add key="SolutionPackagerRelativePath" value="CoreTools\solutionpackager.exe"/>
    <add key="MultilpleSolutionsImport" value="MultilpleSolutionsImport.ps1"/>
    <add key="SolutionToBeImported" value="SolutionToBeImported.ps1"/>
    <add key="CloneRepositoryAlways" value="true" />
    <add key="SleepTimeoutInMillis" value="15000" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
