<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OrgServiceUrl" value="" />
    <add key="DynamicsUserName" value="" />
    <add key="DynamicsPassword" value="" />
    <add key="GitUserName" value="" />
    <add key="GitPassword" value="" />
    <add key="RepositoryLocalDirectory" value="C:\Syed\1\Syed1 Compass Commissioning\" />
    <add key="RepositoryImagesDirectory" value="C:\Syed\1\Syed1 Compass Commissioning\Main\Source\Microsoft.IT.SESIT.MCIO\Microsoft.IT.SESIT.MCIO.WebResources\Images\" />
    <add key="RepositoryJsDirectory" value="C:\Syed\1\Syed1 Compass Commissioning\Main\Source\Microsoft.IT.SESIT.MCIO\Microsoft.IT.SESIT.MCIO.WebResources\JavaScript\" />
    <add key="RepositoryHtmlDirectory" value="C:\Syed\1\Syed1 Compass Commissioning\Main\Source\Microsoft.IT.SESIT.MCIO\Microsoft.IT.SESIT.MCIO.WebResources\Html\" />
    <add key="RepositoryUrl" value="" />
    <add key="BranchName" value="testsyed" />
    <add key="RemoteName" value="origin" />
    <add key="CloneRepositoryAlways" value="false" />
    <add key="SleepTimeoutInMillis" value="15000" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
