<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OrgServiceUrl" value="https://instancename.api.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="GitPassword" value=""/>
    <add key="RepositoryLocalDirectory" value="" />
    <add key="RepositoryUrl" value="" />
    <add key="BranchName" value="" />
    <add key="RemoteName" value="origin" />
    <add key="CloneRepositoryAlways" value="false" />
    <add key="SleepTimeoutInMillis" value="15000" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
